/* .jss5.jss6 {
    display: contents;
} */

 @media screen and (max-width: 940px) {
    .makeStyles-main-5 {
        max-width: 940px !important;
        min-width: unset !important;
    }
    .divCarte, .divDeckList, .divCartesList {
        display: block !important;
    }
    .divCartesList {
        max-width: 940px !important;
        width: 100% !important; 
    }
    .contentCartesList {
        height: 640px !important;
        overflow: auto !important;
        border-top: 1px solid !important;
        width: 100% !important;
        display: block !important;
    }
    .divDeckList {
        overflow: none !important;
        height: none !important;
    display: block !important;
    border: 1px solid !important;
    max-width: none !important;
    margin : 0 auto !important;
    width: 60% !important;
    min-width: 415px !important;
    }
    .maxDeckList {
        max-width: 940px !important;
    }
    .divTypeRegionBonus{
        max-height: unset !important;
    }
}

.makeStyles-main-5 {
    min-width: 1111px;
}

.divCarte, .divDeckList, .divCartesList {
    display: flex;
}

.contentDeckList
{
    border-top: 1px solid;
}

.bonusEffect {
    margin-bottom: 8px;
}
.divCartesList {
    width : 60%;
    display: block;
    border: 1px solid;
    min-width: 701px;   
}
.deckBonusLeft, .deckBonusRight {
    width: 50%;
display: inherit;
}

.contentCartesList {
    height: 640px;
overflow: auto;
min-width: 700px;
border-top: 1px solid;
}

.divDeckList {
    overflow: auto;
    height: auto;
display: inline-table;
border: 1px solid;
max-width: 411px;
margin : 0 auto;
}

.divDeckBonus {
    overflow: auto;
    height: auto;
display: inline-table;
border-top: 1px solid;
width: 411px;
margin : 0 auto;
padding: 8px 0;
}

.divTypeRegionBonus {
    padding: 0 16px;
    max-height: 145px;
overflow: auto;
border-top: 1px solid;
}

.maxDeckList {
    max-height: 640px;
}

.carte{
    width: 20%;
    display: inline-flex;
    margin: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 6px darkgray;
    transition: transform .2s
}

.deckCarte {
    width: 25%;
    display: inline-flex;
    margin: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 6px darkgray;
}

.carte:hover {
    transform: scale(1.1)
}