.familier {
    display: inline-block;
    margin: 16px 32px;
}

.sectionUlalaDex {
    width: 60vw;
    display: inline-flex;
    height: 80vh;
    overflow: auto;
    border : 1px solid
}

.Filter {
    display: inline-block;
    width: 30vw;
    border : 1px solid;
    height: 80vh;
}

.ulalaDex {
    display: inline-block;
    margin-bottom: 32px;
}