.leftSide {
    width: 25%;
    display: inline-block;
}

.leftSide img {
    margin : auto;
    border-radius : 6px; 
}

.rightSide {
    width: 75%;
    display: inline-block;
    text-align: left;
}

.FamilierSection {
    display: inline-flex;
}