.leftSide {
    width: 25%;
    display: inline-table;
}

.leftSide img {
    margin : auto;
    border-radius : 6px; 
}

.rightSide {
    width: 75%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.petDetails {
    height: 60vh;
}